<div class="container my-2">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  {{ range .Ancestors.Reverse }}
    {{ if and (.Site.Params.breadcrumb.home) (eq . .Site.Home) }}
      <li class="breadcrumb-item">
        <a href="{{ .RelPermalink }}" title="{{ .Title }}">
          {{ if .Site.Params.breadcrumb.homeIcon }}
            {{ partial "icon" .Site.Params.breadcrumb.homeIcon }}
          {{ else }}
            {{ .Title }}
          {{ end }}
        </a>
      </li>
    {{ else if ne . .Site.Home }}
      <li class="breadcrumb-item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  {{ end }}

  {{ with . }}
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
</ol>
</nav>
</div>
