{{/* Tree Root */}}
{{ $treeRoot := false }}

{{ if .Page.IsHome }}
  {{ $treeRoot = .Site.Sections }}
{{ else if .Page.IsSection }}
  {{ $treeRoot = .Pages }}
{{ else if .Page.IsPage }}
  {{ $treeRoot = .Pages }}
{{ end }}

{{/* Card Columns */}}
{{ $cardMaxCols := 4 }}

{{ if lt (len $treeRoot) $cardMaxCols }}
  {{ $cardMaxCols = (sub $cardMaxCols 1) }}
{{ end }}

<div class="container my-4">
  <div class="row row-cols-1 row-cols-xl-{{ $cardMaxCols }} row-cols-lg-3 row-cols-md-2 g-4">

  {{ range $treeRoot }}
    {{ $pageIcon := (default .Parent.Params.Icon .Page.Params.Icon) }}
    <div class="col">
      {{ partial "card" (dict "title" .Page.Title "icon" $pageIcon "description" .Page.Description "url" .Page.RelPermalink) }}
    </div>
  {{ end }}

  {{ with .Page.Params.cards }}
  {{ range . }}
    <div class="col">
        {{ partial "card" (dict "title" .title "icon" .icon "description" .description "urllist" .links) }}
    </div>
  {{ end }}
  {{ end }}

  </div>
</div>
