{{ $carouselImages := .images }}
{{ $carouselID := (hash.FNV32a (printf "carousel-%s%s" .Page.Title (math.Rand | mul 99 | math.Ceil))) }}

{{ if $carouselImages }}
<div id="{{ $carouselID }}" class="carousel">
<div class="carousel-inner">
  {{ range $carouselIndex, $carouselImage := $carouselImages }}
    <input id="{{ $carouselID }}-{{ $carouselIndex }}" name="{{ $carouselID }}" class="carousel-radio" type="radio" {{ if eq $carouselIndex 0 }}checked{{ end }}>
    <div class="carousel-item ratio ratio-16x9">
      {{- partial "carousel-image" $carouselImage -}}
    </div>
  {{ end }}
</div>

<div class="carousel-indicators">
  {{ range $carouselIndex, $carouselImage := $carouselImages }}
    <label for="{{ $carouselID }}-{{ $carouselIndex }}" aria-controls="{{ $carouselID }}"></label>
  {{ end }}
</div>
</div>
{{ end }}
