{{ $carouselImages := .images }}
{{ $carouselID := (hash.FNV32a (printf "carousel-%s%s" .Page.Title (math.Rand | mul 99 | math.Ceil))) }}

{{ if $carouselImages }}
<div id="{{ $carouselID }}" class="carousel">
<div class="carousel-inner">
  {{ range $carouselIndex, $carouselImage := $carouselImages }}
    <input id="{{ $carouselID }}-{{ $carouselIndex }}" name="{{ $carouselID }}" class="carousel-radio" type="radio" {{ if eq $carouselIndex 0 }}checked{{ end }}>
    <div class="carousel-item ratio ratio-16x9">
      {{/* Carousel Image */}}
      {{ $image := $carouselImage.Resize "1920x png q60 lanczos" }}

      {{/* Watermark */}}
      {{/* $logo := resources.Get "img/logo/logo.png" */}}
      {{/* with $logo */}}
          {{/* $watermark := $logo.Resize "x200" */}}
          {{/* $image = $image.Filter (images.Overlay $watermark (sub $image.Width $watermark.Width) (sub $image.Height $watermark.Height)) */}}
      {{/* end */}}

      {{ $image = $image | resources.Copy (printf "%s" $carouselImage.RelPermalink) }}
      <img src="{{ $image.RelPermalink }}" class="d-block w-100 object-fit-contain" loading="lazy" alt="{{ humanize .Name }}" />
      {{/* Carousel Image */}}
    </div>
  {{ end }}
</div>

<div class="carousel-indicators">
  {{ range $carouselIndex, $carouselImage := $carouselImages }}
    <label for="{{ $carouselID }}-{{ $carouselIndex }}" aria-controls="{{ $carouselID }}"></label>
  {{ end }}
</div>
</div>
{{ end }}
