{{ if .Site.Params.footer.state }}
{{ $footerStick := .Site.Params.footer.stick }}
<footer class="py-3 bg-body-tertiary {{ if $footerStick }}mt-auto{{ end }}">
<div class="container mt-3">
  {{ if .Site.Menus.footer }}
    <ul class="nav justify-content-center pb-3 mb-3">
      {{ range sort .Site.Menus.footer "Weight" }}
        <li class="nav-item">
          <a class="nav-link px-2" href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

  <div class="d-flex flex-column flex-sm-row justify-content-between py-3 my-3 border-top">
    {{ if or (.Site.Copyright) (.Site.Params.copyright.name) }}
      <div class="d-flex justify-content-center">
        <p class="text-muted mt-3">
          &copy; {{ with .Site.Params.copyright.year }}{{ . }}-{{ end }}{{ dateFormat "2006" now }} <a href="{{ default .Site.BaseURL .Site.Params.copyright.link }}">{{ default .Site.Copyright .Site.Params.copyright.name }}</a>
        </p>
      </div>
    {{ end }}

    <div class="d-flex justify-content-center fs-4">
      {{ partial "connect" . }}
    </div>
  </div>
</div>
</footer>
{{ end }}
