<header class="{{ with .Site.Params.header.fixedTop }}sticky-top{{ end }} bg-primary {{ with .Site.Params.header.shadow }}shadow{{ end }}">
  <nav class="container-fluid py-2">
    <div class="row">

      {{/* Sidebar */}}
      {{ $sidebarState := false }}

      {{ if .Page.Params.sidebar }}
        {{ $sidebarState = .Page.Params.sidebar }}
      {{ else if and (.Page.IsHome) (.Site.Params.sidebar.home) }}
        {{ $sidebarState = .Site.Params.sidebar.home }}
      {{ else if and (.Page.IsSection) (.Site.Params.sidebar.section) }}
        {{ $sidebarState = .Site.Params.sidebar.section }}
      {{ else if and (.Page.IsPage) (.Site.Params.sidebar.single) }}
        {{ $sidebarState = .Site.Params.sidebar.single }}
      {{ end }}
      {{/* /SidebarToggler */}}

      {{ if $sidebarState }}
      <div class="col d-flex justify-content-start d-lg-none">
        <button class="btn btn-secondary m-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{ .Site.Params.sidebar.tableofcontentsID }}" aria-controls="{{ .Site.Params.sidebar.tableofcontentsID }}">
          {{ partial "icon" "panel-left-open" }}
        </button>
      </div>
      {{ end }}
      {{/* /Sidebar */}}

      {{/* Brand */}}
      {{ if or (.Site.Params.header.brandLogo) (.Site.Params.header.brandText) }}
      <div class="col d-flex {{ if $sidebarState }}justify-content-center{{ end }} justify-content-lg-start">
        <a class="header-brand fs-4" href="{{ .Site.BaseURL }}">

          {{/* Brand Logo */}}
          {{ if .Site.Params.header.brandLogo }}
            {{ $mainSVG := resources.Get .Site.Params.logo.mainSVG }}
            {{ $mainPNG := resources.Get .Site.Params.logo.mainPNG }}
            {{ $brandSVG := resources.Get .Site.Params.logo.brandSVG }}
            {{ $brandPNG := resources.Get .Site.Params.logo.brandPNG }}

            {{ $brandLogo := "" }}

            {{ if $brandSVG }}
              {{ $brandLogo = $brandSVG | resources.Copy (printf "img/logo/%s-brand.svg" (urlize (default "logo" .Site.Title))) }}
              {{ $brandLogo = $brandLogo.RelPermalink }}
            {{ else if $brandPNG }}
              {{ $brandLogo = $brandPNG.Resize "256x" | resources.Copy (printf "/img/logo/%s-brand.png" (urlize (default "logo" .Site.Title))) }}
              {{ $brandLogo = $brandLogo.RelPermalink }}
            {{ else if $mainSVG }}
              {{/* Use image generated in head */}}
              {{ $brandLogo = (printf "/img/logo/%s.svg" (urlize .Site.Title)) }}
            {{ else if $mainPNG }}
              {{ $brandLogo = (printf "/img/logo/%s256.png" (urlize .Site.Title)) }}
            {{ end }}

            {{ if $brandLogo }}
              <img src="{{ $brandLogo }}" alt="{{ .Site.Title }}" height="50" />
            {{ end }}
          {{ end }}

          {{/* Brand Text */}}
          {{ if .Site.Params.header.brandText }}
            {{ .Site.Title }}
          {{ end }}

        </a>
      </div>
      {{ end }}
      {{/* /Brand */}}

      {{/* Togglers */}}
      <div class="col d-flex justify-content-end">
        {{/* Theme Toggler */}}
        <button id="shock-theme-toggle" type="button" class="btn btn-secondary m-1" title="Toggle Theme">
          <span class="theme-auto">{{ partial "icon" "contrast" }}</span>
          <span class="theme-light" style="display: none;">{{ partial "icon" "sun" }}</span>
          <span class="theme-dark" style="display: none;">{{ partial "icon" "moon" }}</span>
        </button>

        {{/* Menu Toggler */}}
        {{ if .Site.Menus.main }}
        <button type="button" class="btn btn-secondary m-1" data-bs-toggle="offcanvas" data-bs-target="#nav-menu-items" aria-controls="nav-menu-items">
          {{ partial "icon" "menu" }}
        </button>
        {{ end }}
      </div>
      {{/* /Togglers */}}

    </div>
  </nav>
</header>
