{{/* Offcanvas Menu */}}

{{/* Offcanvas Checkbox */}}
<input type="checkbox" id="offcanvas-nav-menu-items" class="offcanvas-checkbox" />

{{/* Offcanvas Backdrop */}}
<div class="offcanvas-backdrop"></div>

<aside id="nav-menu-items" class="offcanvas offcanvas-end h-100">
  <div class="sidebar-content overflow-x-hidden overflow-y-scroll vh-100">

    <div class="offcanvas-header border-bottom">
      <h5 class="m-0">Menu</h5>
      <label class="btn btn-secondary ms-auto" for="offcanvas-nav-menu-items" aria-controls="nav-menu-items">
        {{ partial "icon" "panel-right-close" }}
      </label>
    </div>

    <nav id="TableOfContents">
      {{ if .Site.Menus.main }}
        <ul class="fs-5">
          {{ range sort .Site.Menus.main "Weight" }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </nav>

  </div>
</aside>
