{{/* Sidebar */}}
{{ $pagesSidebar := false }}

{{ if or (.IsHome) (.IsSection) }}
  {{ $pagesSidebar = true }}
{{ end }}

{{/* Offcanvas */}}
{{ partial "offcanvas" .Site.Params.sidebar.tableofcontentsID }}

{{/* Offcanvas Content */}}
<div id="{{ .Site.Params.sidebar.tableofcontentsID }}" class="sidebar offcanvas offcanvas-lg offcanvas-start vh-100 {{ if not $pagesSidebar }}offcanvas-dismiss-js{{ end }}">
  <div class="sidebar-content overflow-x-hidden overflow-y-scroll h-100 pb-4">
    <div class="offcanvas-header border-bottom">
      <h5 class="m-0">Table of Contents</h5>
      <label class="btn btn-secondary ms-auto" for="offcanvas-{{ .Site.Params.sidebar.tableofcontentsID }}" aria-controls="{{ .Site.Params.sidebar.tableofcontentsID }}">
        {{ partial "icon" "panel-left-close" }}
      </label>
    </div>

    {{ if $pagesSidebar }}
      <nav id="TableOfContents">
        <ul>
        {{ range .Pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .IsSection }}
              <ul>
              {{ range .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end}}
        </ul>
      </nav>
    {{ else }}
      {{ .Page.TableOfContents }}
    {{ end }}
  </div>
</div>
