<!DOCTYPE html>
<html
  {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}
  data-bs-theme="auto"
>
	<head>
    {{- partial "head.html" . -}}
    {{- block "head" . }}{{- end }}
	</head>
  <body class="d-flex flex-column min-vh-100">
    {{ if .Site.Params.headerState }}
      {{- partial "header.html" . -}}
    {{ end }}
    {{- block "header" . }}{{- end }}
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    {{ if .Site.Params.footerState }}
      {{- partial "footer.html" . -}}
    {{ end }}
    {{- partial "foot.html" . -}}
    {{- block "foot" . }}{{- end }}
  </body>
</html>
