<div class="container my-2">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  {{ range .Ancestors.Reverse }}
    {{ $dropBreadcrumb := false }}

    {{ if and ($.Site.Params.breadcrumb.home) (eq . .Site.Home) }}
      {{ $dropBreadcrumb = true }}
    {{ else if (eq $.Parent .Site.Home) }}
      {{ $dropBreadcrumb = true }}
    {{ else if ne . .Site.Home }}
      {{ $dropBreadcrumb = true }}
    {{ end }}

    {{ if $dropBreadcrumb }}
      <li class="breadcrumb-item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  {{ end }}

  {{ with . }}
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
</ol>
</nav>
</div>
