{{ $carouselImages := .images }}
{{ $carouselID := (hash.FNV32a (printf "carousel-%s%s" .Page.Title (math.Rand | mul 99 | math.Ceil))) }}

{{ if $carouselImages }}
<div id="{{ $carouselID }}" class="carousel slide">
<div class="carousel-inner">
  {{ range first 1 $carouselImages }}
    <div class="carousel-item active">
      {{- partial "carousel-image" . -}}
    </div>
  {{ end }}

  {{ range after 1 $carouselImages }}
    <div class="carousel-item">
      {{- partial "carousel-image" . -}}
    </div>
  {{ end }}
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ $carouselID }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ $carouselID }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{ end }}
