{{/* Bootstrap */}}
{{ $bootstrapJS := resources.Get "js/bootstrap/bootstrap.bundle.min.js" }}

{{/* Shock */}}
{{ $shockJS := resources.Get "js/shock.js" }}

{{/* Site */}}
{{ $siteJS := resources.Get "js/site.js" }}

{{/* Source */}}
{{ $sourceJS := slice $shockJS $siteJS }}
{{ if .Site.Params.bootstrap.javascript }}
  {{ $sourceJS = slice $bootstrapJS $shockJS $siteJS }}
{{ end }}

{{/* Main */}}
{{ $mainJS := $sourceJS | resources.Concat "js/main.js" | minify }}
{{ $mainSRI := $mainJS | resources.Fingerprint "sha384" }}
<script defer src="{{ $mainSRI.RelPermalink }}" integrity="{{ $mainSRI.Data.Integrity }}"></script>
