{{/* Vars */}}
{{ $description := default (default .Site.Title .Site.Params.Description) (default .Summary .Description) }}
{{ $keywords := default .Site.Params.Keywords .Page.Params.Keywords }}
{{ $author := .Site.Author.name }}

{{/* Brand */}}
{{/* LOOKHERE: Move this to partial with size input */}}
{{ $logoPNG := resources.Get (default "img/logo/logo.png" .Site.Params.logoPNG) }}
{{ $logoSVG := resources.Get (default "img/logo/logo.svg" .Site.Params.logoSVG) }}
{{ $logo256 := $logoPNG.Resize "256x" | resources.Copy (printf "/img/logo/%s256.png" (urlize .Site.Title)) }}
{{ $logo512 := $logoPNG.Resize "512x" | resources.Copy (printf "/img/logo/%s512.png" (urlize .Site.Title)) }}
{{ $logo1024 := $logoPNG.Resize "1024x" | resources.Copy (printf "/img/logo/%s1024.png" (urlize .Site.Title)) }}
{{ $favicon := default $logo256 ($logoSVG | resources.Copy (printf "img/logo/%s.svg" (urlize (default "favicon" .Site.Title)))) }}

{{/* Info */}}
<title>{{ partial "title" . }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ with $description }}<meta name="description" content="{{ . }}" />{{ end }}
{{ with $keywords }}<meta name="keywords" content="{{ . }}" />{{ end }}
{{ with $author }}<meta name="author" content="{{ . }}" />{{ end }}

{{/* Open Graph */}}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ partial "title" . }}" />
<meta property="og:description" content="{{ $description }}" />
{{ with $logo1024 }}
  <meta property="og:image" content="{{ .RelPermalink }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{/* Twitter Card */}}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ partial "title" . }}" />
<meta name="twitter:description" content="{{ $description }}" />
{{ with $logo256 }}
  <meta name="twitter:image" content="{{ .RelPermalink }}" />
{{ end }}

{{/* Icon */}}
{{ with $favicon }}
  <link rel="icon" href="{{ .RelPermalink }}" />
{{ end }}

{{/* Style */}}
{{ $styleOptions := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $styleSCSS := resources.Get "scss/_style.scss" }}
{{ $styleHugo := resources.Match "scss/*.go.scss" }}

{{ if $styleHugo }}
  {{ $styleHugo := $styleHugo | resources.Concat "scss/_hugo.go.scss" | resources.ExecuteAsTemplate "scss/_hugo.scss" . }}
  {{ $styleSCSS = slice $styleSCSS $styleHugo | resources.Concat "scss/style.scss" }}
{{ end }}

{{ $styleCSS := $styleSCSS | css.Sass $styleOptions }}
{{ $styleLink := "" }}
{{ if and (.Site.Params.postCSS.state) (hugo.IsProduction) }}
  {{ $styleLink = $styleCSS | css.PostCSS | resources.Fingerprint "sha384" | resources.PostProcess }}
{{ else }}
  {{ $styleLink = $styleCSS | resources.Fingerprint "sha384" }}
{{ end }}

<link
  rel="stylesheet"
  href="{{ $styleLink.RelPermalink }}"
  integrity="{{ $styleLink.Data.Integrity }}"
/>

{{/* Canonical */}}
{{ if and (.Permalink) (ne .Type "error") }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{/* Manifest */}}
{{ if (ne false (default (default true .Site.Params.manifestJSON) .Site.Params.manifest.state)) }}
  {{ $manifestJSON := resources.Get "manifest.go.json" | resources.ExecuteAsTemplate "manifest.json" . }}
  <link rel="manifest" href="{{ $manifestJSON.RelPermalink }}" />
{{ end }}
