<header class="{{ with .Site.Params.header.fixedTop }}sticky-top {{ end }}bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

      {{/* SidebarToggler */}}
      {{ $sidebarState := false }}

      {{ if .Page.Params.sidebar }}
        {{ $sidebarState = .Page.Params.sidebar }}
      {{ else if and (.Page.IsHome) (.Site.Params.sidebar.home) }}
        {{ $sidebarState = .Site.Params.sidebar.home }}
      {{ else if and (.Page.IsSection) (.Site.Params.sidebar.section) }}
        {{ $sidebarState = .Site.Params.sidebar.section }}
      {{ else if and (.Page.IsPage) (.Site.Params.sidebar.single) }}
        {{ $sidebarState = .Site.Params.sidebar.single }}
      {{ end }}
      {{/* /SidebarToggler */}}

      {{ if $sidebarState }}
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-tableofcontents" aria-controls="sidebar-tableofcontents">
        {{ partial "icon" "panel-left-open" }}
      </button>
      {{ end }}

      {{/* Brand */}}
      {{ if or (.Site.Params.header.brandLogo) (.Site.Params.header.brandText) }}
        <a class="navbar-brand py-0" href="{{ .Site.BaseURL }}">

          {{/* Brand Logo */}}
          {{ if .Site.Params.header.brandLogo }}
            {{ $mainPNG := resources.Get .Site.Params.logo.mainPNG }}
            {{ $brandPNG := resources.Get .Site.Params.logo.brandPNG }}
            {{ $brandLogo := default $mainPNG $brandPNG }}
            {{ if $brandLogo }}
              {{ $brandLogo = $brandLogo.Resize "256x" | resources.Copy (printf "/img/logo/%s-brand-256.png" (urlize .Site.Title)) }}
              <img src="{{ $brandLogo.RelPermalink }}" alt="{{ .Site.Title }}" height="50" />
            {{ end }}
          {{ end }}

          {{/* Brand Text */}}
          {{ if .Site.Params.header.brandText }}
            {{ .Site.Title }}
          {{ end }}

        </a>
      {{ end }}

      {{/* Navbar Toggler */}}
      {{ if or (.Site.Menus.main) (.Site.Params.bootstrap.javascript) }}
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu-items" aria-controls="navbar-menu-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-open">{{ partial "icon" "menu" }}</span>
        <span class="navbar-toggler-close">{{ partial "icon" "x" }}</span>
      </button>

      <div id="navbar-menu-items" class="navbar-collapse justify-content-end collapse">
        <ul class="navbar-nav fs-5">
          {{ if .Site.Menus.main }}
          {{ range sort .Site.Menus.main "Weight" }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
          {{ end }}

          {{/* Theme */}}
          {{ if .Site.Params.bootstrap.javascript }}
            <li class="nav-item dropdown">
              {{/* Theme Toggler */}}
              <button class="btn btn-link nav-link dropdown-toggle" type="button" aria-expanded="false" data-bs-toggle="dropdown" title="Theme">
                {{ partial "icon" "paintbrush" }}
              </button>

              {{/* Theme Options */}}
              <ul class="dropdown-menu dropdown-menu-end">
                {{/* Auto */}}
                <li>
                  <button class="dropdown-item btn btn-link" type="button" data-bs-theme-value="auto">{{ partial "icon" "contrast" }} Auto</button>
                </li>

                {{/* Light */}}
                <li>
                  <button class="dropdown-item btn btn-link" type="button" data-bs-theme-value="light">{{ partial "icon" "sun" }} Light</button>
                </li>

                {{/* Dark */}}
                <li>
                  <button class="dropdown-item btn btn-link" type="button" data-bs-theme-value="dark">{{ partial "icon" "moon" }} Dark</button>
                </li>
              </ul>
            </li>
          {{ end }}

        </ul>
      </div>
      {{ end }}
    </div>
  </nav>
</header>
