{{/* Sidebar */}}
<div id="{{ .Site.Params.sidebar.tableofcontentsID }}" class="offcanvas-lg offcanvas-start bg-body-tertiary h-100">
  <div class="sticky-lg-top sidebar-content overflow-x-hidden overflow-y-auto">
    <div class="offcanvas-header">
      <h5>Table of Contents</h5>
      <button class="navbar-toggler ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebar-tableofcontents" aria-label="Close">
        {{ partial "icon" "panel-left-close" }}
      </button>
    </div>

    {{ if .IsSection}}
      <nav id="TableOfContents">
        <ul>
        {{ range .Pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .IsSection }}
              <ul>
              {{ range .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end}}
        </ul>
      </nav>
    {{ else }}
      {{ .Page.TableOfContents }}
    {{ end }}
  </div>
</div>
