{{/* Sidebar */}}
<div id="sidebar-tableofcontents" class="col col-lg-3 col-xxl-2 offcanvas-lg offcanvas-start bg-body-tertiary">
  <div class="sticky-lg-top sidebar-content">
    <div class="offcanvas-header">
      <h5>Table of Contents</h5>
      <button class="navbar-toggler" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebar-tableofcontents" aria-label="Close">
        {{ partial "icon" "sidebar-close" }}
      </button>
    </div>
    {{ .Page.TableOfContents }}
  </div>
</div>
